<launch>

    <arg name="x" default="0.0" />
    <arg name="y" default="0.0" />
    <arg name="z" default="0.0" />
    <arg name="yaw" default="0.0" />

    <!-- Spawn Model Standin person Model-->
    <include file="$(find car_description)/launch/spawn_standing_marcus.launch">
        <arg name="x" value="$(arg x)" />
        <arg name="y" value="$(arg y)" />
        <arg name="z" value="$(arg z)" />
        <arg name="yaw" value="$(arg yaw)" />
    </include>
    <!-- Activate TF publishing of the person -->
    <include file="$(find car_description)/launch/run_marcus_pose_broadcaster.launch"/>
    <!--
    Activate keyboard listener to be able to move it roslaunch turtle_tf_3d move_person_standing.launch ,
    to move it through keyboard
    -->
    <include file="$(find car_description)/launch/activate_marcusMovement_listrener_model.launch"/>
</launch>
