<?xml version="1.0" encoding="UTF-8"?>
<launch>


    <arg name="urdf_robot_file" default="$(find prius_description)/urdf/prius.urdf"/>

    <arg name="x" default="-2"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.0"/>
    <arg name="roll" default="0.1"/>
    <arg name="pitch" default="0"/>
    <arg name="yaw" default="0"/>

     <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
	<arg name="world_name" value="$(find gazebo_ros)/worlds/empty_world.world"/>

    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
    <!-- more default -->
	</include>

    <arg name="robot_name" default="jibo2" />


	<group ns="jibo2">
        <!-- Spawn Part -->
<!--
	<rosparam file="$(find solution_jibo_description)/config/jibo2_diff_drive.yaml" command="load" ns="/jibo2"/> -->

         <param name="robot_description" command="cat $(arg urdf_robot_file)" />

	
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="false"/>
        </node>


        <node name="urdf_spawner_jibo2" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw) -model $(arg robot_name) -param robot_description"/>

        <node name="robot_state_publisher_jibo2" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen">
            <param name="publish_frequency" type="double" value="5.0" />
        </node>

    </group>

</launch>

