<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <arg name="follower_model_name" default="basic_car" />
    <arg name="model_to_be_followed_name" default="marcus" />

    <node name="basic_car_tf_listener_node" pkg="car_description" type="basic_car_tf_listener.py" args="$(arg follower_model_name) $(arg model_to_be_followed_name)" output="screen"/>
</launch>
