<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <arg name="urdf_robot_file" default="$(find new_gurdy_version_description)/urdf/new_gurdy_drive.urdf" />
    <param name="robot_description" command="cat $(arg urdf_robot_file)" />

    <arg name="x" default="0.5" />
    <arg name="y" default="0.0" />
    <arg name="z" default="0.18" />
    <arg name="roll" default="0.0"/>
    <arg name="pitch" default="0.0"/>
    <arg name="yaw" default="0.0"/>

    <group ns="new_gurdy_drive">
        <!-- Spawn Part -->

        <arg name="robot_name" default="new_gurdy_drive" />


        <rosparam file="$(find new_gurdy_version_description)/config/new_gurdy_drive_controllers.yaml" command="load" ns="/new_gurdy_drive"/>

        <param name="/new_gurdy_drive/robot_description" command="cat $(arg urdf_robot_file)" />


        <node name="urdf_spawner_new_gurdy_drive" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw) -model $(arg robot_name) -param /new_gurdy_drive/robot_description"/>

        <node name="robot_state_publisher_new_gurdy_drive" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen">
            <param name="publish_frequency" type="double" value="5.0" />
        </node>

        <node name="new_gurdy_drive_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" args="--namespace=/new_gurdy_drive
                              /new_gurdy_drive/joint_state_controller
                              /new_gurdy_drive/head_aux_1_joint_position_controller
                              /new_gurdy_drive/head_aux_2_joint_position_controller
                              /new_gurdy_drive/head_aux_3_joint_position_controller
                              /new_gurdy_drive/auxs_upperlegM1_joint_position_controller
                              /new_gurdy_drive/auxs_upperlegM1_joint_position_controller
                              /new_gurdy_drive/auxs_upperlegM1_joint_position_controller
                              /new_gurdy_drive/upperlegM1_lowerlegM1_joint_position_controller
                              /new_gurdy_drive/upperlegM2_lowerlegM2_joint_position_controller
                              /new_gurdy_drive/upperlegM3_lowerlegM3_joint_position_controller
                              /new_gurdy_drive/internal_lowerleg1_joint_position_controller
                              /new_gurdy_drive/internal_lowerleg1_joint_position_controller
                              /new_gurdy_drive/internal_lowerleg1_joint_position_controller
                              /new_gurdy_drive/basefoot_peg_M1_joint_position_controller
                              /new_gurdy_drive/basefoot_peg_M2_joint_position_controller
                              /new_gurdy_drive/basefoot_peg_M3_joint_position_controller
                              --shutdown-timeout 3">
        </node>

    </group>

</launch>